{% extends 'base.html' %}

{% block content %}
    {% if bookings.count == 0 %}
        <center><h4 class='s_book' style="padding: 30px; text-align: center; color: red;">No Bookings Done!!</h4></center>
    {% else %}
        <center>
            <h3 class='s_book' style="padding: 30px; text-align: center; color: red;">ALL Successful Bookings of {{ guest.first_name }} {{ guest.last_name }} ({{ guest.user.username }})</h3>
        </center>

        <div class="wrapper" style="padding-top: 0px;">
            <div class="table">
                <div class="row header">
                    <div class="cell">
                        ID
                    </div>
                    <div class="cell">
                        Room No
                    </div>
                    <div class="cell">
                        Check-In
                    </div>
                    <div class="cell">
                        Check-Out
                    </div>
                    <div class="cell">
                        Status
                    </div>
                </div>
                {% for booking in bookings %}
                    <div class="row">
                        <div class="cell" data-title="Number">
                            {{ forloop.counter }}
                        </div>
                        <div class="cell" data-title="Room No">
                            {{ booking.room.no }}
                        </div>
                        <div class="cell" data-title="Check-In">
                            {{ booking.checkIn }}
                        </div>
                        <div class="cell" data-title="Check-Out">
                            {{ booking.checkOut }}
                        </div>
                        <div class="cell" {% if booking.accept %}style="color: green;"{% elif booking.reject %}style="color: red;"{% endif %} data-title="Status">
                            {% if booking.accept %}
                                Accepted
                            {% elif booking.reject %}
                                Rejected
                            {% else %}
                                Pending
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
    {% endif %}
{% endblock content %}

{% block more_links %}
    <a href="{% url 'leave_admin' %}">
        Leave requests
    </a>
    <a href="{% url 'empty_rooms' %}">
        Empty Rooms
    </a>
    <a href="{% url 'present_leaves' %}">
        Present Leave
    </a>
    <a href="{% url 'mess_rebate' %}">
        Mess Rebate
    </a>
    <a href="{% url 'guest_requests' %}">
        Guest Room Requests
    </a>
    <a href="{% url 'logout' %}">
        Logout
    </a>
{% endblock more_links %}
